@model IPagedList<Artist>
<p>
    <input type="button" class="button" value="Create New Artist" id="btnNew" onclick="GetForm()" />
</p>
@if (ViewBag.State == "empty")
{
    <table>
        <thead>
            <tr>
                <th>There is no artist in database.If you want to add new artist use Create New Artist button.
                </th>
            </tr>
        </thead>
    </table>
}
else
{ 
    <table>
        <thead>
            <tr>
                <th>Artist Name
                </th>
                <th>Created Date
                </th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="3">
                    <div class="pagination">

                        @if (Model.HasPreviousPage)
                        {
                            <a href="javascript:void(0);" title="First Page" onclick="GetPage(1)">&laquo; First</a>
                            <a href="javascript:void(0);" title="Previous Page" onclick="GetPage(@(Model.PageNumber - 1))">&laquo;Previous</a>
                        }
                        else
                        {
                            <a href="javascript:void(0);" title="First Page">&laquo; First</a>
                            <a href="javascript:void(0);" title="Previous Page">&laquo;Previous</a>
                        }
                        @if (Model.PageCount <= 13)
                        {
                            for (int i = 1; i < Model.PageCount + 1; i++)
                            {
                                if (i == Model.PageNumber)
                                {
                            <a href="javascript:void(0);" class="number current" title="@i" onclick="GetPage(@i)">@i</a>
                                    continue;
                                }
                            <a href="javascript:void(0);" class="number" onclick="GetPage(@i)" title="@i">@i</a>
                            }
                        }
                        else
                        {
                            if (Model.PageNumber <= 6)
                            {
                                for (int i = 1; i <= 9; i++)
                                {
                                    if (i == Model.PageNumber)
                                    {
                            <a href="javascript:void(0);" class="number current" title="@i" onclick="GetPage(@i)">@i</a>
                                        continue;
                                    }
                            <a href="javascript:void(0);" class="number" onclick="GetPage(@i)" title="@i">@i</a>
                                }
                            <a>...</a>
                            <a href="javascript:void(0);" class="number" onclick="GetPage(@(Model.PageCount - 1))" title="@(Model.PageCount - 1)">@(Model.PageCount - 1)</a>
                            <a href="javascript:void(0);" class="number" onclick="GetPage(@Model.PageCount)" title="@Model.PageCount">@Model.PageCount</a>
                            
                            }
                            else if (Model.PageNumber >= Model.PageCount - 5)
                            {
                            <a href="javascript:void(0);" class="number" onclick="GetPage(1)" title="1">1</a>
                            <a href="javascript:void(0);" class="number" onclick="GetPage(2)" title="2">2</a>
                            <a>...</a>
                                for (int i = Model.PageCount - 10; i <= Model.PageCount; i++)
                                {
                                    if (i == Model.PageNumber)
                                    {
                            <a href="javascript:void(0);" class="number current" title="@i" onclick="GetPage(@i)">@i</a>
                                        continue;
                                    }
                            <a href="javascript:void(0);" class="number" onclick="GetPage(@i)" title="@i">@i</a>
                                }
                            }
                            else
                            {
                            <a href="javascript:void(0);" class="number" onclick="GetPage(1)" title="1">1</a>
                            <a href="javascript:void(0);" class="number" onclick="GetPage(2)" title="2">2</a>
                            <a>...</a>
                                for (int i = Model.PageNumber - 2; i <= Model.PageNumber + 2; i++)
                                {
                                    if (i == Model.PageNumber)
                                    {
                            <a href="javascript:void(0);" class="number current" title="@i" onclick="GetPage(@i)">@i</a>
                                        continue;
                                    }
                            <a href="javascript:void(0);" class="number" onclick="GetPage(@i)" title="@i">@i</a>
                                }
                            <a>...</a>
                           <a href="javascript:void(0);" class="number" onclick="GetPage(@(Model.PageCount - 1))" title="@(Model.PageCount - 1)">@(Model.PageCount - 1)</a>
                            <a href="javascript:void(0);" class="number" onclick="GetPage(@Model.PageCount)" title="@Model.PageCount">@Model.PageCount</a>
                            }
                        }
                        @if (Model.HasNextPage)
                        {
                            <a href="javascript:void(0);" title="Next Page" onclick="GetPage(@(Model.PageNumber + 1))">Next &raquo;</a>
                            <a href="javascript:void(0);" title="Last Page" onclick="GetPage(@(Model.PageCount))">Last &raquo;</a>
                        }
                        else
                        {
                            <a href="javascript:void(0);" title="Next Page">Next &raquo;</a>
                            <a href="javascript:void(0);" title="Last Page">Last &raquo;</a>
                        }
                    </div>
                    <!-- End .pagination -->
                    <div class="clear">
                    </div>
                </td>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name
                    </td>
                    <td>@item.CreatedDate.ToShortDateString()
                    </td>
                    <td>
                        <a href="javascript:void(0);" title="Edit" onclick="SendArtist(@item.Id)">
                            <img src='@Url.Content("~/Content/resources/images/icons/pencil.png")' alt="Edit" /></a> <a href="javascript:void(0);" title="Delete" onclick="DeleteArtist(@item.Id)">
                                <img src='@Url.Content("~/Content/resources/images/icons/cross.png")' alt="Delete" /></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}